.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.modal__content {
  font-family: 'Cabinet-Grotesk', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  padding: 28px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 496px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}

.modal__fieldset {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.modal__button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
}

.modal__title {
  font-size: 16px;
  line-height: 20px;
}

.modal__button-modifier {
  background-color: transparent;
  border: none;
  font-family: 'Cabinet-Grotesk', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0 8px 0;
  color: rgba(0, 0, 0, 0.3);
}

.modal__button-modifier:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-size: 16px;
  background-image: url(../../images/close-icon.svg);
  border: none;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__submit {
  width: 124px;
  height: 36px;
  padding: 8px, 16px, 8px, 16px;
  margin: 24px 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  color: white;
  font-family: 'Cabinet-Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 700px;
  line-height: 20px;
  font-weight: bold;
}

.modal__submit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  animation: 3s ease-in-out 0s 1 normal none running;
}
